################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/leetcode_vs/.vs/leetcode_vs/v15/Browse.VC.opendb
